<template name="mainPage">
    <h1>NFL Pick'em</h1>
    {{> loginButtons}}
    {{#if currentUser}}
        {{checkCurrent}}
        <button id="gameResults" >Game Results</button>
        <button id="weeklyStandings" >Weekly Player Standings</button>
        <button id="usersProfile" >Profile</button>
        {{#each getGames}}
        <div class="row">
            <p>Game:</p>
                {{#if gameChosen}}
                    <p>Too late to pick. Sorry.</p>
                    <input type="button" id="usersPick"  value="{{team1}}" class="{{weekNum}}" disabled>
                    <input type="button" id="usersPick"  value="{{team2}}" class="{{weekNum}}" disabled>
                {{else}}
                    <input type="button" id="usersPick" name="{{team1}}" value="{{team1}}" class="{{weekNum}}">
                    <input type="button" id="usersPick" name="{{team2}}" value="{{team2}}" class="{{weekNum}}">
                {{/if}}
        </div>
        {{/each}}
    {{/if}}
</template>

<template name="gameMaster">
    <h1>NFL Pick'em</h1>
    {{> loginButtons}}
    {{#if currentUser}}
        {{checkCurrent}}
        <button id="resultsInput" >Input Results</button>
        <form id="gameSubmit">
            <p>Enter this week's games:</p>
            <input type="text" name="team1" placeholder="Team 1">
            <input type="text" name="team2" placeholder="Team 2">
            <input type="text" name="week" placeholder="Week Number">
            <input type="submit" value="Submit">
        </form>
    {{/if}}
</template>

<template name="resultsInput">
    <h1>NFL Pick'em</h1>
    {{> loginButtons}}
    {{#if currentUser}}
        {{checkCurrent}}
            <p>Enter this week's game results:</p>
            <p>Select the Winner of Each Game:</p>
            {{#each getGames}}
                <div class="row">
                    <input type="button" id="usersPick" value="{{team1}}" class="{{_id}}">
                    <input type="button" id="usersPick"  value="{{team2}}" class="{{_id}}">
                </div>
            {{/each}}
    {{/if}}
</template>


<template name="gameResults">
    <h1>NFL Pick'em</h1>
    {{> loginButtons}}
    {{#if currentUser}}
        {{checkCurrent}}
            <p>Game Results:</p>
            <form id="gameResults">
                <input type="text" name="week" placeholder="Week Number">
                <input type="submit" value="Submit">
            </form>
            {{#each getWinners}}
                    <div class="row">
                        Winner: {{winner}}
                        {{#each getPicks}}
                            Your Pick: {{usersPick}}
                        {{/each}}
                    </div>
            {{/each}}
    {{/if}}
</template>

<template name="weeklyStandings">
    <h1>NFL Pick'em</h1>
    {{> loginButtons}}
    {{#if currentUser}}
        {{checkCurrent}}
            <p>Weekly Standings:</p>
            <p>Format: Wins, Losses</p>
            <form id="weeklyStandings">
                <input type="text" name="week" placeholder="Week Number">
                <input type="submit" value="Submit">
            </form>
    
            {{#each userStanding}}
                    <div class="row">
                        Your Standing: {{wins}}, {{losses}}
<!--
                        {{#each getPicks}}
                            Other User: {{wins}}, {{losses}}
                        {{/each}}
-->
                    </div>
            {{/each}}
    {{/if}}
</template>

<template name="usersProfile">
    <h1>NFL Pick'em</h1>
    {{> loginButtons}}
    {{#if currentUser}}
        {{checkCurrent}}
            
            
                {{#each getProfile}}
                    <img src="{{profilePic}}" alt="Mountain View">
                    <div class="row">
                        Favorite Team: {{favTeam}}
                        Wins: {{wins}}
                        Losses: {{losses}}
                    </div>
                {{/each}}
            
                <form id="profileUpload">
                    <input type="text" name="favTeam" placeholder="Favorite team">
                    <input type="file" name="pic" accept="image/*">
                    <input type="submit" value="Submit">
                </form>
            
    {{/if}}
</template>